span{

    padding: 2pt;
}

.unfocused{

    background-color: transparent;
}

.clickhighlight{

    background-color: #ffe683;
}

.subjectfocus{

    background-color: #db6f59;
}

.objectfocus{

    background-color: #5991db;
}

.relationfocus{

    background-color: #69b56c;
}