span{

    padding: 2pt;

}

#inputFile{

    height: 10%;
}

#fileContents{

    top: 10%;
    left: 0;
    width: 50%;
    height: 100%;
    
    overflow-wrap: break-word;
}

.tripletooltip{

    height: 20px;
    width: 27px;

    background-color: green;
}

#tripleStore{

    top: 0;
    left: 50%;
    
    width: 50%;
    height: 100%;

    position: fixed;

    background-color: #efefef;

}

.lexeme{

    display: inline-block;
}

.unfocused{

    background-color: transparent;
}

.referent{

    background-color: #ffbb32;
}

.clickhighlight{

    background-color: #ffe683;
}

.subjectfocus{

    background-color: #db6f59;
}

.objectfocus{

    background-color: #5991db;
}

.relationfocus{

    background-color: #69b56c;
}

.jsonTreeView{

    margin-left: 32pt;
    display: block;
}